/* CSS Document */

.blue-box {
    border-radius: 25px;
    padding: 2.5em;
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
	color: white;
}

.ipport-box {
    border-radius: 25px;
    padding: 2.5em;
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
	color: white;
}